.loginForm {
    width: 438px;
}

.loginForm>h2 {
    font-weight: 500;
    font-size: 40px;
    line-height: 1.2;
    letter-spacing: -0.02em;
    color: #121417;
    margin-bottom: 20px;
}

.loginForm>p {
    margin-bottom: 40px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.4;
    color: rgba(18, 20, 23, 0.8);
}

.form {
    display: flex;
    flex-direction: column;
    gap: 18px;
    width: 100%;
}

.form>input {
    width: 100%;
    border: 1px solid rgba(18, 20, 23, 0.1);
    border-radius: 12px;
    padding: 16px 18px;
    height: 54px;
}

.form>button {
    margin-top: 20px;
}