.bookForm {
    width: 472px;
}

.teacher {
    display: flex;
    gap: 14px;
}

.teacherAva>img {
    width: 44px;
    height: 44px;
    border-radius: 100px;
}

.teacherName>p {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.3;
    color: #8a8a89;
    margin-bottom: 4px;
}

.teacherName>span {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: #121417;
}

.bookForm>h2 {
    font-weight: 500;
    font-size: 40px;
    line-height: 1.2;
    letter-spacing: -0.02em;
    color: #121417;
    margin-bottom: 20px;
}

.bookForm>p {
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.4;
    color: rgba(18, 20, 23, 0.8);
}

.form {
    display: flex;
    flex-direction: column;
    gap: 18px;
    width: 100%;
    margin-top: 40px;
}

.form>input {
    width: 100%;
    border: 1px solid rgba(18, 20, 23, 0.1);
    border-radius: 12px;
    padding: 16px 18px;
    height: 54px;
}

.form>button {
    margin-top: 20px;
}

.form>fieldset {
    display: flex;
    flex-direction: column;
    border: none;
    margin: 0;
    padding: 0;
    gap: 16px;
}

.form>fieldset>legend {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.33333;
    color: #121417;
    margin-bottom: 20px;
}

.form>fieldset>label {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.3;
    text-align: center;
    color: #121417;
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
}

.form>fieldset>label>input {
    margin: 0;
    display: none;
}

.radio {
    color: #ccc;
    transition: all 0.3s ease;
    display: none;
}

.form fieldset label input:checked+.radio {
    color: #ff6600;
    display: block;
}

.ring {
    fill: transparent;
    stroke: #ccc;

}

.form fieldset label input:checked~.ring {
    display: none;
}